<div class="container mt-5">
  <div class="card text-center">
    <h1 class="card-header">
      Tic Tac Toe
    </h1>
    <div class="card-body">
      <h5 class="card-title">Tic Tac Toe written in Angular 5</h5>
      <p class="card-text">Made by Colin Mosher</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/play']">Let's play!</a>
    </div>
    <div class="card-footer text-muted align-middle">
      <!-- Star on Github -->
      <a class="github-button" href="https://github.com/mosherc/tic-tac-toe" data-icon="octicon-star" data-size="large" data-show-count="true"
        aria-label="Star mosherc/tic-tac-toe on GitHub">Star</a>
    </div>
  </div>
</div>
