@import "../../styles";

.card-panel {
  box-shadow: 0 3px 5px 0 #ccc;
  text-align: center;
  margin: 25px auto 0 auto;
}

.game-panel {
  height: 500px;
  display: flex;
  box-shadow: 0 3px 5px 0 #ccc;
}

.game-board {
  width: 100%;
  height: 500px;
  box-shadow: 0 3px 5px 0 #ccc;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

@include media-breakpoint-down(md) {
  .game-board {
    height: 400px !important;
  }

  .game-panel {
    height: auto !important;
  }
}

.game-cell {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 33%;
  width: 33%;
  font-size: 50px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  transition: all .15s ease-in;
}

.game-cell:hover {
  background-color: #eee;
}

td:first-child {
  border-left: none;
}
tr:last-child .game-cell {
  border-bottom: none;
}

.move-log {
  box-shadow: inset 0 1px 2px 0 #ccc;
  background-color: #eee;
  padding: .5rem;
  margin: 1rem;
}

.checkbox-input{
	height: 0;
	width: 0;
  visibility: hidden;
  
  &:checked + .checkbox-label {
    background: #28a745;

    &:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }
}

.checkbox-label {
	cursor: pointer;
	width: 50px;
	height: 25px;
	background: #007bff;
	display: block;
  border-radius: .25rem;
  margin: 0 10px;
	position: relative;
  transition: all 0.3s ease;
  
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 19px;
    background: #fff;
    border-radius: .25rem;
    transition: all 0.3s ease;
  }

  &:active:after {
    width: 25px;
  }
}

.player-switch {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  i {
    font-size: 24px;
    width: 20%;
  }

  p {
    line-height: 24px;
    margin-bottom: 0;
    font-size: 14px;
    width: 20%;
  }

  i:first-child,
  p:first-child {
    text-align: right;
  }

  i:last-child,
  p:last-child {
    text-align: left;
  }
}

/* @media only screen and (max-width: 812px){
  .move-log {
    max-height: 200px;
    overflow-y: auto;
  }
} */

