@import "../../styles";
.card-panel {
  -webkit-box-shadow: 0 3px 5px 0 #ccc;
  box-shadow: 0 3px 5px 0 #ccc;
  text-align: center;
  margin: 25px auto 0 auto;
}

.game-over {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  > * {
    margin: auto 20px;
  }

  * {
    vertical-align: middle;
  }

  .btn-pulse {
    animation: 0.5s 0.5s 10 alternate pulse;
    padding-left: 15px;
    padding-right: 15px;
  }

  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  .countdown-number {
    position: relative;
    left: 24px;
  }

  svg {
    position: relative;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    transform: rotateY(-180deg) rotateZ(-90deg);
    margin: 0 !important;

    circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 113px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: white;
      fill: none;
      animation: countdown 5.5s linear 1 reverse;
    }
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 113px;
    }
    to {
      stroke-dashoffset: 0px;
    }
  }
}

.game-panel {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 5px 0 #ccc;
  box-shadow: 0 3px 5px 0 #ccc;
}

.game-board {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: 0 3px 5px 0 #ccc;
  box-shadow: 0 3px 5px 0 #ccc;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

@include media-breakpoint-down(md) {
  .game-board {
    height: 400px !important;
  }
  .game-panel {
    height: auto !important;
  }
}

.game-cell {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 33%;
  width: 33%;
  font-size: 50px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  background-color: white; //display: block;
  position: relative;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.game-cell:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.game-cell:active {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 33%;
  width: 33%;
  font-size: 50px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

td:first-child {
  border-left: none;
}

tr:last-child .game-cell {
  border-bottom: none;
}

.move-log {
  -webkit-box-shadow: inset 0 1px 2px 0 #ccc;
  box-shadow: inset 0 1px 2px 0 #ccc;
  background-color: #eee;
  padding: .5rem;
  margin: 1rem;
}

.checkbox-input {
  height: 0;
  width: 0;
  visibility: hidden;
  &:checked+.checkbox-label {
    background: #28a745;
    &:after {
      left: calc(100% - 3px);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

.checkbox-label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: #007bff; // display: block;
  border-radius: .25rem;
  margin: 0 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 19px;
    background: #fff;
    border-radius: .2rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:active:after {
    width: 25px;
  }
}

td .checkbox-label {
  height: 15px;
  &:after {
    height: 9px;
    border-radius: .1rem;
  }
}

.player-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  i {
    font-size: 24px;
    width: 20%;
  }
  p {
    line-height: 24px;
    margin-bottom: 0;
    font-size: 14px;
    width: 20%;
  }
  i:first-child,
  p:first-child {
    text-align: right;
  }
  i:last-child,
  p:last-child {
    text-align: left;
  }
}

.difficulty-select {
  width: auto !important;
}

tbody tr:first-child td {
  border-top: none;
}

.avg-crosshair {
  $ch-color: rgba(53, 196, 206, 0.445);
  position: absolute;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, $ch-color), color-stop(60%, $ch-color), color-stop(60%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(40%, $ch-color), color-stop(60%, $ch-color), color-stop(60%, transparent));
  background: linear-gradient(to bottom, transparent 40%, $ch-color 40%, $ch-color 60%, transparent 60%), linear-gradient(to right, transparent 40%, $ch-color 40%, $ch-color 60%, transparent 60%);
  height: 40px;
  width: 40px;
}
