<div class="container px-5">
  <div class="row">
    <div *ngIf="board.winner" class="text-center w-100 px-3">
      <div class="card card-body card-panel mt-3">
        Congrats to Player {{board.winningPlayer}} on winning!
      </div>
    </div>
    <div *ngIf="board.moveLog.length === 9 && !board.winner" class="text-center w-100 px-3">
      <div class="card card-body card-panel mt-3">
        No one won! Would you like to play again?
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-lg-4 col-sm-12 order-lg-0 order-1 text-center">
      <div class="game-panel card card-panel flex-column align-items-start">
        <div class="card-header w-100">
          Click a square to start playing!
          <ul class="nav nav-tabs card-header-tabs mt-2">
            <li class="nav-item">
              <a class="nav-link" (click)="setState('moves')" [ngClass]="{'active' : state === 'moves'}">Moves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setState('stats')" [ngClass]="{'active' : state === 'stats'}">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setState('settings')" [ngClass]="{'active' : state === 'settings'}">Settings</a>
            </li>
          </ul>
        </div>
        <div *ngIf="state === 'moves'" class="mb-auto w-100 px-3">
          <div class="card move-log">
            <div *ngIf="!board.moveLog.length">No moves yet</div>
            <div *ngFor="let move of board.moveLog">{{move.x}}, {{move.y}} by player {{move.player}}</div>
          </div>
        </div>
        <div *ngIf="state === 'stats'" class="mb-auto w-100 p-3">
          <table class="table">
            <tr>
              <td>
                Total Games Played:
              </td>
              <td>
                {{sessionComp.session.gamesPlayed}}
              </td>
            </tr>
            <tr>
              <td>
                Total Wins:
              </td>
              <td>
                {{sessionComp.session.wins}}
              </td>
            </tr>
            <tr>
              <td>
                Total Turns:
              </td>
              <td>
                {{sessionComp.session.totalTurns}}
              </td>
            </tr>
            <tr>
              <td>
                Total Moves Undone:
              </td>
              <td>
                {{sessionComp.session.movesUndone}}
              </td>
            </tr>
            <tr>
              <td>
                Heatmap:
              </td>
              <td>
                <input type="checkbox" class="checkbox-input" id="heatmap" name="heatmap" [(ngModel)]="heatmap">
                <label class="checkbox-label" for="heatmap"></label>
              </td>
            </tr>
          </table>
          <div>
            <button class="btn btn-primary" (click)="sessionComp.newSession()">Reset Stats</button>
          </div>
        </div>
        <div *ngIf="state === 'settings'" class="mb-auto w-100 p-3">
          <form>
            <!-- <div class="form-group">
                <label for="exampleInputEmail1">Who should start?</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div> -->
            <div class="form-group">
              <label>Play Against whom?</label>
              <div class="row player-switch">
                <p>Local</p>
                <input type="checkbox" class="checkbox-input" id="opponent" name="opponent">
                <label class="checkbox-label" for="opponent"></label>
                <p>AI</p>
              </div>
            </div>
            <div class="form-group">
              <label>Who should start?</label>
              <div class="row player-switch">
                <i class="fas fa-times"></i>
                <input type="checkbox" class="checkbox-input" id="starter" name="starter" [(ngModel)]="starter" (change)="switchStarter()">
                <label class="checkbox-label" for="starter"></label>
                <i class="far fa-circle"></i>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="mx-auto my-3">
          <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="undo()" [ngClass]="{'disabled': board.turnsTaken === 0 || board.winner}"
              [disabled]="board.turnsTaken === 0 || board.winner">
              <i class="fas fa-undo"></i> Undo
            </button>
            <button class="btn btn-outline-primary" (click)="newGame()" [ngClass]="{'disabled': board.turnsTaken === 0}">New Game</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 order-lg-1 order-0">
      <table class="table game-board card-panel">
        <tbody>
          <tr *ngFor="let column of board.cells; let x = index">
            <td *ngFor="let cell of column; let y = index" (click)="takeTurn(x,y)" class="game-cell">
              <i [ngClass]="{'fas fa-times': board.getCell(x, y)==='X', 'far fa-circle': board.getCell(x, y)==='O'}"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
