/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$font-stack:    Helvetica, sans-serif;

body {
  font: 100% $font-stack;
}

.card-header-tabs .nav-link {
  transition: all 0.3s ease;

  &.active {
    color: #007bff;
  }

  &:hover {
    color: #007bff !important;
  }

  cursor: pointer;
}
